@font-face {
    font-family: 'Le Jardin des Coquelicots';
    src: url('https://github.com/Erezinous/Le-Jardin-des-Coquelicots/blob/main/LeJardindesCoquelicots.woff2') format('woff2'),
        url('https://github.com/Erezinous/Le-Jardin-des-Coquelicots/blob/main/LeJardindesCoquelicots.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

