@font-face {
    font-family: 'Le Jardin des Coquelicots';
    src: url('subset-LeJardindesCoquelicots.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

